@use '../../lib/service.scss' as s;

section {
    padding: s.space(3);
}

.form {
    display: flex;
    flex-direction:column ;
    padding: s.space(4);
    gap: s.space(8);
    background-color: rgb(247, 245, 245);
    width: 800px;
    border-radius: 10px;
    




    &__title {
        font-size: 40px;
        font-weight: bold;
        padding: s.space(4);  
        color: #242EFF; 
    }

    &__field__title {
        font-size: 18px;
        font-weight: bold;
        padding: s.space(2); 
        
    }

    &__content {
        display: flex;
        gap: s.space(6);
        flex-direction: column;
    }
    
    &__field2 {
        display: flex;
        flex-direction: row;
        gap: s.space(2);
    }

    &__field2__all {
        display: flex;
        flex-direction: column;
        gap: s.space(2);
        width: 334px;
    }

    &__field {
        display: flex;
        flex-direction:column;
        gap: s.space(2);
    }

    &__label {
        font-size: 13px;
        padding-left: s.space(2);
        color: gray;
    }

    &__input {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 10px;

    }
    &__button__all{
        display: flex;
        gap: s.space(2);
    }

    &__button{
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 7px;
        background-color: #242EFF;
        color: white;
        width: 100%;
    }

    &__button__success {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 7px;
        background-color: #242EFF;
        color: white;
        width: 100%;
    }

    &__button__delete {
        display: flex;
        justify-content: center;
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 7px;
        background-color: red;
        color: white;
        width: 100%;
        text-decoration: none;
    }

}
.alert {
    padding: s.space(3);
    
    &__form {
        display: grid;
        padding: s.space(4);
        background-color: rgb(247, 245, 245);
        width: 700px;
        border-radius: 10px;
    }

    &__form__title {
        font-size: 16px;
        font-weight: bold;
        
    
    }

    &__form__button {
        display: flex;
        justify-content: center;
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 10px;
        background-color:#242EFF;
        color: white;
        width: 250px;
        justify-self: end;
        text-decoration: none;
    }
    
    &__form__info {
        font-size: 13px;
        color: gray;
        width: 250px;
    }
    
}


    

.product__list{
    display: flex;
    flex-direction: row;
    gap: 12px;
    
}

.product__card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: s.space(3);
    padding: s.space(4);
    border-radius: 10px;
    background-color: rgb(247, 245, 245);
        
    

    
    .product__card__name {
        font-size: 18px;
        font-weight: bold;
    }

    .product__card__description {
        font-size: 15px;
    }

    .product__card__id {
        font-size: 13px;
        color: gray;
    }

    .price__edit {
        display: flex;
        justify-content: space-between;


        .product__card__price {
            font-size: 16px;
            font-weight: bold;
            width: fit-content;
        }
           
            
        .product__card__edit {
            text-decoration: none;
            width: fit-content;
        }
        
    }

        
}







 

    



