{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <section class="alert">
    <div class="alert__form">
      <div class="alert__form__text">
        <h1 class="alert__form__title">Успішне виконання дії</h1>
        <label class="alert__form__info">Товар успішно був видалений</label>
      </div>
      <a href="/product-list" class="alert__form__button">Повернутись назад</a>
    </div>
  </section>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}