<main>
  <section class="alert">
    <div class="alert__form">
      <div class="alert__form__text">
        <h1 class="alert__form__title">{{data.message}}</h1>
        <label class="alert__form__info">{{data.info}}</label>
      </div>
      <a href="{{data.link}}" class="alert__form__button">Повернутись назад</a>
    </div>
  </section>
</main>