@use '../../lib/service.scss' as s;

.heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.heading__title {
    font-size: 30px;
    color: s.color(main);
    font-weight: bold;
}

.heading__info {
    font-size: 20px;
    color: s.color(dark);
}