<section>
    <h1 class="form__title">Список товарів</h1>
    <form method="GET" action="/product-list">

        <div class="product__list">
            {{#each list}}
            {{> product-card}}
            {{/each}}
        </div>
    </form>

</section>