<div class="list">
    <span class="list-id">ID:{{id}}</span>
    <span class="list-info">Товари {{name}}</span>
    <span class="list-info">Сума замовлення {{price}}</span>
    <span class="list-info">Нараховані бонуси {{bonus}}</span>
</div>